body {
    margin: 0;
}
.App {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}
.error {
background-color: tomato;
color: white;
border-radius: 6px;
padding: 6px 12px;
font-weight: bold;
max-width: 400px;
margin-bottom: 18px;
}